<app-menu></app-menu>
<section *ngIf="loggeduser" class="heading">
    <span class="page-title font-weight-bold font-italic">{{title}}</span>
    <span *ngIf="loggeduser.admin==true"> | 
    <a routerLink='/user/create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a> </span>
</section>
<table *ngIf="users" class="table table-sm table-striped">
    <thead>
        <tr>
            <th><a (click)="sortBy('firstName')">First Name</a></th>
            <th><a (click)="sortBy('lastName')">Last Name</a></th>
            <th>Phone Number</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </thead>
    <tbody *ngIf="loggeduser">
        <tr *ngFor="let user of users | sort:sortCriteria:sortOrder">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.email }}</td>
            <td *ngIf="loggeduser.admin==true"> <a routerLink='/user/detail/{{user.id}}'>
                <img width='20' height='20' src='assets/details.png' title='Users Details'></a> |
                <a routerLink='/user/edit/{{user.id}}'>
                    <img width='20' height='20' src='assets/pencil-icon.png' title='Edit User'></a>
            </td>
        </tr>
    </tbody>
</table>