<app-menu></app-menu>
<span class='component-title'>[{{title}}]</span>
<span ><a routerLink='/request/create'><img width='20' height='20' 
        src='assets/add-icon.png' title='Add New'>
       </a>
</span>
<table *ngIf='requests' class="table table-sm table-striped">
    <thead>
        <tr>
            <th><a (click)="sortBy('submittedDate')">Date Submitted</a></th>
            <th>User</th>
            <th>Description</th>
            <th><a (click)="sortBy('dateNeeded')">Date Needed</a></th>
            <th><a (click)="sortBy('total')">Total</a></th>
            <th><a (click)="sortBy('status')">Status</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf='requests && user && user.admin==true'>
        <tr *ngFor='let request of requests | sort:sortCriteria:sortOrder'>
            <td>{{ request.submittedDate }}</td>
            <td *ngIf="!request.submittedDate"> n/a </td>
            <td>{{ request.user.firstName }} {{ request.user.lastName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.dateNeeded }}</td>
            <td>${{ request.total }}</td>
            <td> {{ request.status}} </td>
            <td>
                <a routerLink='/request/detail/{{request.id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
                    | 
                <a routerLink='/request/edit/{{request.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
                    |
                <a routerLink='/line-item/list/{{request.id}}'><img src='assets/lines.png' width='20' height='20'></a>
                </td>
        </tr>
    </tbody>
    <tbody *ngIf='myrequests && user && user.admin==false'>
        <tr *ngFor='let myrequest of myrequests'>
            <td *ngIf='myrequest.status != "New"'>{{ myrequest.submittedDate }}</td>
            <td *ngIf='myrequest.status == "New"'> </td>
            <td>{{ myrequest.user.firstName }} {{ myrequest.user.lastName }}</td>
            <td>{{ myrequest.description }}</td>
            <td>{{ myrequest.dateNeeded }}</td>
            <td>${{ myrequest.total }}</td>
            <td> {{ myrequest.status}} </td>
            <td>
                <a routerLink='/request/detail/{{myrequest.id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
                    | 
                <span *ngIf='myrequest.status == "New"'>
                    <a routerLink='/request/edit/{{myrequest.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
                 | </span>
                <a routerLink='/line-item/list/{{myrequest.id}}'><img src='assets/lines.png' width='20' height='20'></a>
                </td>
        </tr>
    </tbody>

</table>
