<app-menu></app-menu>
<span class='component-title'>[{{title}}]</span>
<span ><a routerLink='/request/create'><img width='20' height='20' 
        src='assets/add-icon.png' title='Add New'>
       </a>
</span>
<table *ngIf='requests' class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Date Submitted</th>
            <th>User</th>
            <th>Description</th>
            <th>Date Needed</th>
            <th>Total</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let request of requests'>
            <td>{{ request.submittedDate }}</td>
            <td>{{ request.user.firstName }} {{ request.user.lastName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.dateNeeded }}</td>
            <td>${{ request.total }}</td>
            <td> {{ request.status}} </td>
            <td>
                <a routerLink='/request/detail/{{request.id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
                    | 
                <a routerLink='/request/edit/{{request.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
                    |
                <a><img src='assets/lines.png' width='20' height='20'></a>
                </td>
        </tr>
    </tbody>
</table>
